[Unit]
Description=NetBox Request Queue Worker
Documentation=https://docs.netbox.dev/
After=network-online.target postgresql.service redis.service netbox.service
Requires=postgresql.service redis.service

[Service]
Type=simple
User={{ netbox_user }}
Group={{ netbox_group }}
WorkingDirectory={{ netbox_install_dir }}/netbox
ExecStart={{ netbox_venv }}/bin/python manage.py rqworker
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
