server {
    listen {{ netbox_http_port }};
    server_name hmvlapntb001.nnt.com 10.10.1.71;

    client_max_body_size 25m;

    location /static/ {
        alias {{ netbox_install_dir }}/netbox/static/;
    }

    location / {
        proxy_pass http://127.0.0.1:{{ netbox_gunicorn_port }};
        proxy_set_header X-Forwarded-Host $http_host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
