# =============================================================================
# /etc/systemd/system/vmware_exporter.service — managed by Ansible
# =============================================================================

[Unit]
Description=Prometheus vmware_exporter
After=network.target

[Service]
User={{ vmware_exporter_user }}
Group={{ vmware_exporter_group }}
Type=simple
ExecStart=/usr/local/bin/vmware_exporter \
  -c {{ vmware_exporter_config_file }} \
  --port {{ vmware_exporter_port }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
